name: Build APK

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Gradle Build
        uses: eskatos/gradle-command-action@v2
        with:
          arguments: build

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: GeekzForwarder-APK
          path: app/build/outputs/apk/release/*.apk
